:root {
  --charcoal-blue: #29353c;
  --slate-blue: #44576d;
  --cool-gray: #768a96;
  --dusty-sky-blue: #aac7d8;
  --frost-blue: #dfebf6;
  --light-gray: #e6e6e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--charcoal-blue);
  color: var(--light-gray);
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    var(--charcoal-blue),
    var(--dusty-sky-blue)
  );
  padding-top: 4%;
  padding-left: 10%;
}
